# ==========================
# Core ML
# ==========================
numpy>=2.3.1
pandas>=2.3.1
scipy>=1.16.0
scikit-learn>=1.7.1
joblib>=1.5.1
prometheus-client
# ==========================
# Visualization
# ==========================
matplotlib>=3.10.6
pipreqs
# ==========================
# Web Framework
# ==========================
Flask>=3.1.2
gunicorn>=23.0.0
waitress>=3.0.2

# ==========================
# Configuration
# ==========================
python-dotenv>=1.1.1
PyYAML>=6.0.2

# ==========================
# AWS
# ==========================
boto3>=1.40.0
awscli>=1.42.0

# ==========================
# DVC
# ==========================
dvc[s3]>=3.63.0

# ==========================
# Experiment Tracking
# ==========================
mlflow>=3.1.1

# ==========================
# Data Versioning / Git
# ==========================
GitPython>=3.1.45

# ==========================
# NLP (Optional)
# ==========================
nltk>=3.9.1

# ==========================
# Utilities
# ==========================
requests>=2.32.5
tqdm>=4.67.1
click>=8.2.1
dagshub>=0.5.0
# ==========================
# Development
# ==========================
pytest>=8.4.1
coverage>=7.10.0
flake8>=7.3.0

# ==========================
# Project
# ==========================
-e .