# ==========================
# Core ML
# ==========================
numpy==2.3.1
pandas==2.3.1
scipy==1.16.0
scikit-learn==1.7.1
joblib==1.5.1

# ==========================
# Web Framework
# ==========================
Flask==3.1.2
gunicorn==23.0.0
waitress==3.0.2

# ==========================
# Configuration
# ==========================
python-dotenv==1.1.1
PyYAML==6.0.2

# ==========================
# Experiment Tracking
# ==========================
mlflow==2.22.2
dagshub==0.5.3

# ==========================
# Data Version Control
# ==========================
dvc[s3]==3.63.0

# ==========================
# AWS
# ==========================
awscli

# ==========================
# NLP
# ==========================
nltk==3.9.1

# ==========================
# Utilities
# ==========================
requests==2.32.5
tqdm==4.67.1
click==8.2.1
GitPython==3.1.45
prometheus-client

# ==========================
# Development
# ==========================
pytest==8.4.1
coverage==7.10.0
flake8==7.3.0
pipreqs

# ==========================
# Project Package
# ==========================
-e .